<!-- chat/templates/chat/index.html -->
{% extends 'base.html' %}
<!-- Block Content -->
{% block content %}
<article class="py-4 px-6">
  <h1 class="text-2xl mb-2">What chat room would you like to enter?</h1>
  <input id="room-name-input" type="text" size="50" class="mb-3" /><br />
  <button
    id="room-name-submit"
    type="submit"
    class="bg-green-700 rounded-md hover:bg-green-100 border-green-700 border text-blue-50 hover:text-green-700 h-8 px-3 py-1"
  >
    Enter
  </button>
</article>

<section>
  <ul class="mx-2">
    {% for room in object_list %}
    <li class="font-bold bg-slate-400 ml-6 w-fit">
      <a href="{{ room.get_absolute_url }}">{{ room.name }}</a>
    </li>
    {% endfor %}
  </ul>
</section>

<script>
  document.querySelector("#room-name-input").focus();
  document.querySelector("#room-name-input").onkeyup = function (e) {
    if (e.key === "Enter") {
      // enter, return
      document.querySelector("#room-name-submit").click();
    }
  };

  document.querySelector("#room-name-submit").onclick = function (e) {
    var roomName = document.querySelector("#room-name-input").value;
    window.location.pathname = "/chat/" + roomName + "/";
  };
</script>
{% endblock %}
