<!-- chat/templates/chat/room.html -->
{% extends 'base.html' %}
<!-- Block content -->
{% block content %}

<article class="py-1 px-6 flex flex-col">
  <h1>Bienvenido {{ room_name }}</h1>
  <div class="overflow-scroll">
    <ul id="chat-history"></ul>
    <textarea id="chat-log" cols="100" rows="17"></textarea><br />
  </div>

  <div class="flex gap-1">
    <input id="chat-message-input" type="text" class="flex-grow" />
    <button
      id="chat-message-submit"
      type="submit"
      class="bg-green-700 rounded-md hover:bg-green-100 border-green-700 border text-blue-50 hover:text-green-700 h-full px-3 py-1"
    >
      Send
    </button>
  </div>
  {{ room_name|json_script:"room-name" }}
</article>

<script>
  function getMessageComponent(message) {
    const listElement = document.createElement("li");
    listElement.innerText = message;
    return listElement;
  }

  const username = "{{ user.username }}";

  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    const chatContainer = document.getElementById("chat-history");
    chatContainer.appendChild(getMessageComponent(data.message));
    document.querySelector("#chat-log").value += data.message + "\n";
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.key === "Enter") {
      // enter, return
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = `${messageInputDom.value}`;
    chatSocket.send(
      JSON.stringify({
        message: message,
      })
    );
    messageInputDom.value = "";
  };
</script>
{% endblock %}
